// body {
//     overflow-y: scroll;

//     &::-webkit-scrollbar {
//         display: none;
//     }
// }

.details {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    .presentation {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        filter: grayscale(70%);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: .2;
            z-index: -1;
        }

        .header {
            z-index: 999;
            width: 100vw;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-in-out;
            font-size: 3rem;
        }

        .content {
            height: 85vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            
            
            .text {
                height: 6vh;
                width: 100vw;
                justify-content: space-around;
                display: flex;
                margin-bottom: 4rem;
            }

            h1, p, a, span {
                font-family: "lato", sans-serif;
                text-transform: uppercase;
                margin: 0 5rem;
            }

            .each {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            p {
                width: 10vw;
                margin: 0 2rem;
            }
            
            span {
                margin: 0 2rem;
                font-size: .8rem;
                font-weight: 300;
            }
            .scroll-down {
                margin-bottom: 2rem;
                
                p {
                    font-weight: 100;
                }
            }
        }
    }

    .bloc {
        width: 100vw;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        &:nth-child(2n + 1) {
            flex-direction: row-reverse;
        }

        .image {
            height: 55vh;
            width: 100vh;
            display: flex;
            align-items: center;

             img {
                width: 100%;
                opacity: .7;
                filter: grayscale(50%);
             }
        }

        .text {
            height: 55vh;
            width: 74vh;

            h1, p {
                font-weight: 300;
                font-family: "lato", sans-serif;
            }

            h1 {
                text-align: center;
                font-size: 2.6rem;
                margin: 3rem 0;
            }

            p {
                font-size: 1.1rem;
                margin: 0 5rem;
            }
        }
    }

    .next-page {
        position: relative;
        background-color: red;
        margin: 5rem 0;
        height: 50vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            z-index: 1;
            filter: grayscale(70%);
        }

        a {
            position: absolute;
            z-index: 2;

            &:hover {
                p {
                    margin-left: .5rem;
                }
            }
        }

        h2 {
            font-size: 2.5rem;
        }

        p {
            display: flex;
            align-items: center;
            transition: all .3s ease-in-out;

            img {
                position: relative;
                height: 1.5rem;
            }
        }
    }
}